[Desktop Entry]
Name=Livestream List
Comment=Monitor your favorite livestreams
Exec=livestream-list
Icon=life.covert.livestreamList
Terminal=false
Type=Application
Categories=AudioVideo;Video;Network;
Keywords=twitch;stream;live;monitor;
StartupNotify=true
